{% extends "base.html" %}

{% block css %}



{% endblock %}


{% block content %}

    <!-- 모달 부분 -->
    <div class="modal fade" id="layerpop">
        <div class="modal-dialog" style="max-width: 100%; width: auto; display: table;">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <!-- header title -->
                    <h4 class="modal-title">계정 추가</h4>
                </div>
                <section>
                    <table class="table table-bordered" id="memberTable">
                        <colgroup>
                            <col style="width:200px;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>아이디</th>
                            <td>
                                <div class="form-inline">
                                    <input type="text" class="form-control" name="" id="memberId" value="" size="40"
                                           maxlength="100" placeholder="아이디를 입력 해 주세요. (4자 이상)"
                                           style="margin-right:10px;">

                                    <button type="button" class="btn btn-secondary mx-1" id="checkMemberId"
                                            style="float: right">중복확인
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr class="writeTr">
                            <th>비밀번호</th>
                            <td>
                                <input type="password" class="form-control" name="" id="memberPw" value=""
                                       size="40">
                            </td>
                        </tr>
                        <tr class="writeTr">
                            <th>비밀번호 확인</th>
                            <td>
                                <input type="password" class="form-control" name="" id="memberPw2" value=""
                                       size="40">
                            </td>
                        </tr>
                        <tr>
                            <th>명칭</th>
                            <td>
                                <input type="text" class="form-control" name="" id="memberName" value="" size="40">
                            </td>
                        </tr>
                        <tr>
                            <th>등급</th>
                            <td>
                                <select class="form-control" style="width:150px;" id="memberLevel">
                                    <option value="8">생산공장</option>
                                    <option value="6">임원</option>
                                    <option value="4">운영자</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
                <div class="modal-body">
                </div>
                <!-- Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="modal">추가</button>
                    <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 모달 부분 끝 -->


    <div class="container px-3 py-3 bg-white">
        Home / 설정 / 계정관리
    </div>
    <div id="checkid"></div>
    <div class="container px-3">
        <div class="row text-center border bg-white my-3 py-3">
            <div class="col">
                <h3>계정관리</h3>

            </div>

        </div>

        <div class="row py-3 border bg-white" type="post">
            <div class="col">
                <div class="fs-5">유저 목록 :</div>
            </div>
            <div class="col-auto">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <label for="kw" class="visually-hidden">계정명 검색</label>
                        <input class="form-control" type="text" id="kw" name="kw" placeholder="계정명 검색">
                    </li>
                    <li class="mx-2 nav-item btn btn-secondary" id="s_bt">
                        검색
                    </li>
                    <li class="mx-2 nav-item btn btn-secondary test" id="test2" value="patch">
                        수정
                    </li>
                    <li class="mx-2 nav-item btn btn-secondary test" id="test3" value="delete">
                        삭제
                    </li>

                    <li class="mx-2 nav-item btn btn-secondary" id="momo" value="delete">
                        2323
                    </li>

                    <li class="mx-2 nav-item btn btn-secondary" data-bs-target="#layerpop" data-bs-toggle="modal">
                        <i class="bi bi-person-plus"></i>
                        계정추가
                    </li>
                </ul>
            </div>
            <div class="mt-3" id="grid"></div>
        </div>
    </div>

    <div class="row" id="data1"></div>




{% endblock %}

{% block script %}
    <script type='text/javascript'>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});


        $(document).ready(function () {
            $.ajax({
                url: "{% url 'common:testajax' %}",
                data:{},
                success: function (data) {
                    grid.resetData(data.data);
                },
                error: function () {
                    alert("실패")
                }
            })
        })

        {# 생성 #}
        $('.test').on('click', function () {
            var method = $(this).attr('value')
            const data = grid.getData()

            $.ajax({
                url: "{% url 'common:testajax' %}",
                data: {
                    'data': data,
                    'len': data.length,
                    'method' : method
                },
                type: 'post',
                success: function (data) {
                    grid.resetData(data.data);
                },
                error: function () {
                    alert("실패")
                }

            })
        })

        $('#momo').on('click', function () {
            var id_data = 'nowon'

            $.ajax({
                url:"{% url 'common:testajax' %}",
                data:{
                    'id_data': id_data,
                },
                seccess: function (data){
                    console.log(data)
                },
                error: function () {
                    console.log('실패')
                }
            })
        })


        $('#checkMemberId').on('click', function () {
            var id_data = $('#memberId').val()

            $.ajax({
                url:"{% url 'common:testajax' %}",
                data:{
                    'id_data': id_data,
                },
                seccess: function (data){
                    $('#checkid').html('2222')
                },
                error: function () {
                    console.log('실패')
                }
            })
        })

        var arrData = [];
        $('#s_bt').on('click', function () {
            var kw = $('#kw').val()

            $.ajax({
                url: "{% url 'common:testajax' %}",
                data: {
                    'kw': kw
                },
                success: function (data) {
                    console.log(data.data)
                    grid.resetData(data.data);
                },
                error: function () {
                    alert("실패")
                }

            })
        })

        var grid = new tui.Grid({
            el: document.getElementById('grid'),
            rowHeaders:['checkbox'],
            columns: [
                {
                    header: 'NO',
                    name: 'id'
                },
                {
                    header: 'ID',
                    name: 'username',
                    editor:'text'
                },
                {
                    header: '업체명',
                    name: 'name',
                    editor:'text'
                },
                {
                    header: '등급',
                    name: 'rank',
                    formatter:'listItemText',
                    editor:{
                        type:'select',
                        options:{
                        listItems:[
                            {text:'관리자', value:'관리자'},
                            {text:'운영자', value:'운영자'}
                        ]
                    }
                    }
                },
            ]
        });
        grid.resetData(arrData);


    </script>
{% endblock %}

