
<section>
  <table class="demo01">
    <tr>
      <th style="font-weight: normal">출고일자</th>
      <td>
        <input type="date"> ~ <input type="date">
        <select style="width: 150px; float: right">
            <option>신규생성</option>
            <option>회차선택</option>
        </select>
      </td>
    </tr>
      <tr>
      <th style="font-weight: normal">검색옵션</th>
      <td>
          <input type="checkbox">단품
          <input type="checkbox">합포장
          <select style="float: right; margin-left: 10px;">
              <option>출하지</option>
          </select>
          <select style="float: right; margin-left: 10px; width: 150px;">
              <option>쇼핑몰명</option>
          </select>
          <select style="float: right; margin-left: 10px;">
              <option>미지정</option>
          </select>
          <select style="float: right; width: 150px;">
              <option>카테고리</option>
          </select>
      </td>
    </tr>
      <tr>
      <th style="font-weight: normal">배송일</th>
      <td>
          <input type="date">
          <button class="btn btn-secondary mx-1" type="submit" style="float: right; margin-left: 10px;">수동확정</button>
          <button class="btn btn-secondary mx-1" type="submit" style="float: right;">배송일 지정하기</button>
      </td>
    </tr>
  </table>
</section>

