
<body>
	<div id="grid"></div>
	<script>
		var grid = new tui.Grid( {
			el: document.getElementById('grid'),
			columns: [
				{
					header: 'NO',
					name: 'value'
				},
                {
					header: '쇼핑몰명',
					name: 'name'
				},
				{
					header: '상품수'
				},
                {
					header: '구분'
				},
                {
					header: '종류'
				},
                {
					header: '담당자'
				},
                {
                    header: '삭제'
                },
			]
		} );

		var arrData = [
			{
				name: '권태용',
				value: '1'
			},
			{
				name: '나우온',
				value: '2'
			},
            {
				name: '은하수산',
				value: '3'
			}
		];

		grid.resetData( arrData );

	</script>
</body>
</html>
