{% extends "base.html" %}

{% block content %}

<div class="container px-3 py-3 bg-white">
        Home / 설정 / 쇼핑몰관리
</div>

<div class="container px-3">
    <div class="row text-center border bg-white my-3 py-3">
            <div class="col">
                <h3>쇼핑몰 관리</h3>
            </div>
    </div>

    <form class="row py-3 border bg-white" type="post">
            <div class="col">
            </div>
            <div class="col-auto" style="margin-bottom: 20px;">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <input class="form-control" type="text" id="kw" name="kw" placeholder="쇼핑몰 검색">
                    </li>
                    <li class="mx-2 nav-item btn btn-secondary">
                        검색
                    </li>
                    <li class="mx-2 nav-item btn btn-secondary" data-bs-target="#layerpop_shop" data-bs-toggle="modal">
                        <i class="bi bi-person-plus"></i>
                        쇼핑몰 추가
                    </li>
                </ul>
            </div>
        <div class="row" style="margin: auto;">
            <table>
                <thead>
                <tr style="text-align: center; font-size: small">
                    <th scope="col">NO</th>
                    <th scope="col">쇼핑몰</th>
                    <th scope="col">상품수</th>
                    <th scope="col">구분</th>
                    <th scope="col">종류</th>
                    <th scope="col">담당자</th>
                    <th scope="col">삭제</th>
                </tr>
                </thead>
                <tbody>
                <tr style="text-align: center">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input type="text" class="form-control"></td>
                    <td><select class="form-control"></select></td>
                    <td style="width: 50px;"><button class="btn btn-danger deleteBtn"><i class="fas fa-trash-alt"></i></button></td>
                </tr>
                </tbody>
            </table>
        </div>
        </form>
    </div>



<!-- 모달 부분 -->
    <div class="modal fade" id="layerpop_shop">
        <div class="modal-dialog" style="max-width: 100%; width: auto; display: table;">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <!-- header title -->
                    <h4 class="modal-title">쇼핑몰 등록</h4>
                </div>
                <section>
                    <table class="table table-bordered" id="memberTable">
                        <colgroup>
                            <col style="width:200px;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>쇼핑몰명</th>
                            <td>
                                <div class="form-inline">
                                    <input type="text" class="form-control" name="" id="memberId" value="" size="40"
                                           maxlength="100" placeholder="쇼핑몰명을 입력해주세요."
                                           style="margin-right:10px;">
                                </div>
                            </td>
                        </tr>
                        <tr class="writeTr">
                            <th>구분</th>
                            <td>
                                <input type="radio"> 특정
                                <input type="radio"> 직납
                            </td>
                        </tr>
                        <tr class="writeTr">
                            <th>종류</th>
                            <td>
                                <input type="text" class="form-control" name="" id="memberId" value="" size="40"
                                           maxlength="100" placeholder="종류명을 입력해주세요."
                                           style="margin-right:10px;">
                            </td>
                        </tr>
                        <tr>
                            <th>담당자</th>
                            <td>
                                <select class="form-control" style="width:150px;" id="memberLevel">
                                    <option value="8">담당자 선택</option>
                                    <option value="6">김시용</option>
                                    <option value="4">김현우</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </section>
                <div class="modal-body">
                </div>
                <!-- Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="modal">등록</button>
                    <button type="button" class="btn btn-secondary mx-1" data-bs-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
<!-- 모달 부분 끝 -->

{% endblock %}

{% block script %}

<script type='text/javascript'>

</script>

{% endblock %}

