{% extends "base.html" %}

{% block content %}

<div class="container px-3 py-3 bg-white">
        Home / 통계 / 냉장 냉동 수량
</div>

<div class="container px-3">
    <div class="row text-center border bg-white my-3 py-3">
            <div class="col">
                <h3 style="font-size: 30px;">냉장 냉동 수량</h3>
            </div>
    </div>

     <div class="row">
         <section>
  <table class="demo01">
    <tr>
      <th style="font-weight: normal; text-align: center">주문기간</th>
      <td>
        <input type="date"> ~ <input type="date">
          <div style="float: right">
          <button class="btn btn-secondary mx-1" onclick="copyToClipboard('#demo')">
              <i class="fa-regular fa-copyright"></i>
              복사</button>
          <button class="btn btn-secondary mx-1" type="button" onclick="changeFont();">
              <i class="fa-solid fa-arrow-up"></i>
              크게</button>
          <button class="btn btn-secondary mx-1" type="button" onclick="downFont();">
              <i class="fa-solid fa-arrow-down"></i>
              작게</button>
          </div>
      </td>
    </tr>
  </table>
</section>
     </div>
    <div class="row"></div>
</div>


{% endblock %}

{% block script %}

<script type='text/javascript'>

</script>

{% endblock %}

